.git
.gitignore
.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
*.tmp
*.sqlite
*.sqlite3
*.db

carteirinhas.html
carteirinhas.pdf
temp_image.jpg

py
python

uploads/*
!uploads/
!uploads/escolas.csv

Thumbs.db
.DS_Store
